:root {
    --primary-color: #055a05;
    --secondary-color: #f4a261;
    --accent1-color: #264653;
    --accent2-color: #e9c46a;
    --heading-font: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    --body-font: Arial, Helvetica, sans-serif;
}

::selection {
    background-color: var(--accent2-color);
    color: var(--accent1-color);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

ul {
    list-style: none;
}

header {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    padding: 10px 0;
}

header img {
    max-width: 110px;
}

header nav {
    margin: 0;
    padding: 0;
}

header nav ul {
    display: flex;
    align-items: center;
    justify-content: end;
}

header nav ul li {
    padding: .7rem
}

header a {
    text-decoration: none;
    color: var(--accent1-color);
    font-weight: 600;
    transition: color ease-in-out .2s;
}

header a:hover {
    color: var(--secondary-color)
}

header,
main,
footer {
    max-width: 840px;
    margin: 0 auto;
}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;
}

footer {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
}

footer nav {
    margin-left: auto;
}

footer nav ul {
    display: flex;
    gap: 8px;
}

footer p {
    grid-column: 2;
    font-size: .876em;
    color: var(--primary-color);
    font-weight: lighter;
}

footer img {
    width: 25px;
}