/* Address section */
address {
    text-align: center;
    font-style: normal;
    line-height: 1.6;
}

address p {
    padding: 0;
    margin: 0;
}

/* Contact section */
.contact {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
    margin-top: 20px;
}

.contact .map iframe {
    border: none;
    width: 100%;
    border-radius: 8px;
}

.form-input {
    display: grid;
}

.form-input:not(:last-child) {
    margin-bottom: 16px;
}

.form-input > label {
    margin-bottom: 2px;
    font-size: .76em;
    font-weight: 600;
    color: #313132;
}

.form-input > input,
.form-input > textarea,
.form-input > select {
    margin-top: 5px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    color: #646464;
}

.checkbox-group {
    display: flex;
    align-items: center;
    gap: 8px;
}

.checkbox-group label {
    font-size: .876em;
}

.form-actions {
    margin-top: 16px;
    display: flex;
    justify-content: end;
}

.form-actions > button {
    width: 100%;
    padding: 10px 20px;
    border: none;
    background-color: var(--primary-color);
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
}

/* Team section */
.team {
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 3px 3px 3px #ddd;
}

.team h1 {
    font-weight: 600;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.4rem;
    margin-bottom: 20px;
    color: #414141;
}

.team ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}

.team li {
    overflow: hidden;
    width: 150px;
    height: 150px;
    border-radius: 8px;
    border: 2px dotted #ccc;
    padding: 1px;
    display: flex;
}

.team img {
    width: 100%;
    max-width: 150px;
    object-fit: cover;
    border-radius: 8px;
}