/* 
 ************ Home page *************
 ************************************
*/
#page-home header {
    background-color: #fff;
    position: relative;
}

#page-home header:before,
#page-home header:after {
    content: '';
    position: absolute;
    top: 0;
    width: 110%;
    height: 100%;
    background-color: #fff;
}

#page-home header:after {
    right: -110%;
}

#page-home header:before {
    left: -110%;
}

.page-home .hero {
    height: 650px;
}

.page-home .hero > div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    max-height: 850px;
    overflow: hidden;
    z-index: -1;
}

.page-home .hero img {
    width: 100%;
    height: 100%;
}

.page-home > .hero h1 {
    position: absolute;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 16px 60px;
    text-align: center;
    background-color: var(--accent1-color);
    color: #fff;
    text-transform: uppercase;
}

.page-home section {
    margin: 0;
    padding: 0;
}

/* Locations */
.page-home .locations {
    background-color: #fff;
    padding: 20px;
}

.locations h2 {
    text-transform: uppercase;
    color: #212121;
    text-align: center;
    margin-bottom: 20px;
}

.locations > .content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.6rem;
}

.locations article {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
    border: 4px solid var(--accent2-color);
    transition: all ease-in-out var(--default-transition-time);
}

.locations article:hover {
    border-color: var(--accent1-color);
}

.locations article:hover img {
    transform: scale(1.5);
}

.locations article:hover figcaption {
    background-color: var(--accent1-color);
    color: #ffffff;
}

.locations article:hover a {
    background-color: var(--accent1-color);
    color: #fff;
}

.locations figure {
    overflow: hidden;
    position: relative;
    transition: all ease-in-out var(--default-transition-time);
    height: 100%;
}

.locations figcaption {
    position: absolute;
    right: 10px;
    top: 10px;
    background-color: var(--accent2-color);
    color: #414141;
    padding: 4px 8px;
    text-align: center;
    font-weight: 400;
    transition: all ease-in-out var(--default-transition-time);
    font-size: .76em;
}

.locations img {
    width: 100%;
    height: 100%;
    transition: all ease-in-out var(--default-transition-time);
    object-fit: cover;
    z-index: -1;
}

.locations a {
    background-color: var(--accent1-color);
    padding: 12px 16px;
    color: #fff;
    display: block;
    text-align: center;
    width: 100%;
    display: grid;
    place-self: end;
    align-self: self-end;
    position: relative;
    z-index: 1;
    transition: all ease-in-out var(--default-transition-time);
}

.locations a:hover {
    background-color: var(--accent2-color);
    color: #212121;
}

/* Information section */
.info {
    background-color: #eee;
    padding: 80px 0;
    margin-top: 80px;
    position: relative;
}

.info:after,
.info:before {
    content: '';
    background-color: #eee;
    top: 0;
    width: 110%;
    height: 100%;
    position: absolute;
}

.info:after {
    right: -110%;
}

.info:before {
    left: -110%;
}

.info > .content {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    align-items: center;
}

.info figure {
    grid-column: 1 / 7;
    grid-row: 1;
    width: 100%;
    height: auto;
    margin-left: -50px;
}

.info figure img {
    width: 100%;
}

.info article {
    background-color: #e8e8e8;
    color: #212121;
    padding: 48px;
    text-align: center;
    max-width: 700px;
    border: 1px solid #ccc;
    outline: 1px solid #ccc;
    outline-offset: 1ch;
    grid-column: 5 / 12;
    grid-row: 1;
}

.info article h2 {
    color: #212121;
    font-size: 2rem;
    margin-bottom: 20px;
}

.info article p {
    color: #444;
    line-height: 1.8;
}

.info article a {
    margin-top: 20px;
    display: inline-block;
    padding: 14px 18px;
    background-color: var(--accent1-color);
    color: #fff;
    font-weight: 600;
    transition: all ease-in-out var(--default-transition-time);
}

.info article a:hover {
    background-color: var(--accent2-color);
    color: #212121;
}

/* Newsletter section */
.page-home .newsletter {
    margin-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ddd;
}

.newsletter header {
    text-align: center;
    display: block;
}

.newsletter h3 {
    color: #212121;
    margin-bottom: 0;
}

.page-home .newsletter p {
    color: #444;
    margin-top: 0;
}

.newsletter form {
    display: grid;
    grid-template-columns: 1fr 1fr auto;
    margin-top: 20px;
    gap: 20px;
    max-width: 700px;
    align-items: end;
    margin-left: auto;
    margin-right: auto;
}

.newsletter .form-input label {
    display: block;
    margin-bottom: 5px;
}

.newsletter .form-input {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.newsletter .form-input:not(:last-child) {
    margin-bottom: 0;
}

.newsletter .form-input input {
    width: 100%;
    padding: 14px 16px;
    color: #646464;
    font-size: .876em;
    border: 1px solid #ddd;
}

.newsletter button {
    display: inline-block;
    padding: 14px 18px;
    background-color: var(--accent1-color);
    color: #fff;
    font-weight: 600;
    transition: all ease-in-out var(--default-transition-time);
    border: none;
}

.newsletter button:hover {
    background-color: var(--accent2-color);
    color: #212121;
    cursor: pointer;
}

/* 
 ************ About page ************
 ************************************
*/
.page-about .hero {
    position: relative;
    margin-top: 10px;
}

.page-about .hero img {
    display: block;
    width: 100%;
    height: auto;
}

.page-about .hero article {
    position: absolute;
    bottom: 0;
    background-color: var(--accent1-color);
    border: 1px solid #ccc;
    outline: 2px solid #fff;
    outline-offset: 4px;
    padding: 3px;
}

.page-about .hero article img {
    width: 100%;
    max-width: 150px;
    height: fit-content;
    object-fit: cover;
    float: right;
    padding-left: 20px;
}

.page-about .hero h1 {
    position: absolute;
    top: 0;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: .7;
    background-color: var(--accent1-color);
    color: #fff;
    text-transform: uppercase;
}

.page-about .hero article p {
    color: #fff;
    text-align: right;
    line-height: 1.4;
}

/* History section */
.history {
    padding: 0;
    margin: 24px 0;
}

.history > div {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
}

.history img {
    width: 100%;
    max-width: 200px;
    margin: 0 auto;
}

.history h2 {
    text-align: center;
    margin-top: 20px;
    color: #414141;
    text-transform: uppercase;
}

.history p {
    color: #666666;
    font-size: .876em;
}

/* Adventurous section */
.adventurous h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #414141;
    text-transform: uppercase;
}

.adventurous > div {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
}

.adventurous figure {
    overflow: hidden;
    width: 100%;
    height: 100%;
    max-width: 250px;
    max-height: 180px;
    position: relative;
}

.adventurous img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.adventurous figcaption {
    text-align: center;
    font-size: .876em;
    margin-top: 4px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
    background-color: var(--accent1-color);
    color: #fff;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* 
 *********** Contact page ***********
 ************************************
*/
.page-contact {
    margin-top: 20px;
}

.page-contact h1 {
    text-align: center;
    color: #414141;
}

/* Address section */
address {
    text-align: center;
    font-weight: 600;
    line-height: 1.6;
    font-style: normal;
}

address p {
    padding: 0;
    margin: 0;
}

/* Contact section */
.contact {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    margin-top: 20px;
}

.contact .map iframe {
    border: none;
    width: 100%;
}

.form-input {
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
    line-height: 1.6;
}

.form-input.message {
    grid-template-columns: 1fr;
}

.radio-options {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.radio-options label {
    display: flex;
    align-items: center;
    width: fit-content;
    gap: 8px;
    cursor: pointer;
    font-size: 0.876em;
    font-weight: normal;
}

.form-input:not(:last-child) {
    margin-bottom: 16px;
}

.form-input.radio-group p,
.form-input > label {
    margin-bottom: 2px;
    font-size: 0.876em;
    font-weight: normal;
    color: #313132;
}

.form-input.radio-group p {
    margin: 0 0 6px 0;
    padding: 0;
}

.form-input > input,
.form-input > textarea,
.form-input > select {
    margin-top: 5px;
    padding: 10px;
    border: 1px solid #ddd;
    color: #646464;
}

.checkbox-group {
    display: flex;
    align-items: center;
    gap: 8px;
}

.checkbox-group label {
    font-size: .876em;
}

.form-actions {
    margin-top: 16px;
    display: flex;
    justify-content: end;
}

.form-actions > button {
    width: 100%;
    padding: 10px 20px;
    border: none;
    background-color: var(--accent1-color);
    color: #ffffff;
    cursor: pointer;
    transition: all ease-in-out var(--default-transition-time);
}

.form-actions > button:hover {
    background-color: var(--accent2-color);
    color: #212121;
}

/* Team section */
.team {
    margin-top: 20px;
    padding: 20px;
}

.team h2 {
    font-weight: 600;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.4rem;
    margin-bottom: 20px;
    color: #414141;
    text-transform: uppercase;
}

.team ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}

.team img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.team figure {
    overflow: hidden;
    width: 100%;
    max-width: 250px;
    height: 250px;
    position: relative;
}

.team figcaption {
    text-align: center;
    font-size: .876em;
    margin-top: 4px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
    background-color: var(--accent1-color);
    color: #fff;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}