.socialmedia {
    grid-column: 3;
    justify-self: end;
}

.socialmedia a {
    text-decoration: none;
}

.hero {
    position: relative;
}

.hero article {
    position: absolute;
    bottom: 0;
    background-color: var(--accent1-color);
}

.hero article img {
    max-width: 125px;
    border-radius: 50%;
    float: right;
    padding-left: 20px;
}

.hero article p {
    font-weight: bold;
    color: #fff;
    text-align: right;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

/* History section */
.history {
    padding: 0;
    margin: 24px 0;
}

.history > div {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
}

.history img {
    width: 100%;
    max-width: 200px;
    margin: 0 auto;
}

.history h2 {
    text-align: center;
    margin-top: 20px;
}

.history p {
    color: #666666;
    font-size: .876em;
}

/* Adventurous section */
.adventurous h2 {
    text-align: center;
    margin-bottom: 20px;
}

.adventurous > div {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 40px;
}

.adventurous figure {
    overflow: hidden;
    width: 100%;
}

.adventurous img {
    width: 100%;
}

.adventurous figcaption {
    text-align: center;
    font-size: .76em;
    margin-top: 4px;
    color: var(--primary-color);
}