.socialmedia {
    grid-column: 3;
    justify-self: end;
}

.socialmedia a {
    text-decoration: none;
}

/* 
 ************ About page ************
 ************************************
*/
.page-about .hero {
    position: relative;
    margin-top: 10px;
}

.page-about .hero img {
    display: block;
    width: 100%;
    height: auto;
}

.page-about .hero article {
    position: absolute;
    bottom: 0;
    background-color: var(--accent1-color);
    border: 1px solid #ccc;
    outline: 2px solid #fff;
    outline-offset: 4px;
    padding: 3px;
}

.page-about .hero article img {
    width: 100%;
    max-width: 150px;
    height: fit-content;
    object-fit: cover;
    float: right;
    padding-left: 20px;
}

.hero h1 {
    position: absolute;
    top: 0;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: .7;
    background-color: var(--accent1-color);
    color: #fff;
    text-transform: uppercase;
}

.page-about .hero article p {
    color: #fff;
    text-align: right;
    line-height: 1.4;
}

/* History section */
.history {
    padding: 0;
    margin: 24px 0;
}

.history > div {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
}

.history img {
    width: 100%;
    max-width: 200px;
    margin: 0 auto;
}

.history h2 {
    text-align: center;
    margin-top: 20px;
    color: #414141;
    text-transform: uppercase;
}

.history p {
    color: #666666;
    font-size: .876em;
}

/* Adventurous section */
.adventurous h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #414141;
    text-transform: uppercase;
}

.adventurous > div {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
}

.adventurous figure {
    overflow: hidden;
    width: 100%;
    height: 100%;
    max-width: 250px;
    max-height: 180px;
    position: relative;
}

.adventurous img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.adventurous figcaption {
    text-align: center;
    font-size: .876em;
    margin-top: 4px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
    background-color: var(--accent1-color);
    color: #fff;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* 
 *********** Contact page ***********
 ************************************
*/
.page-contact {
    margin-top: 20px;
}

.page-contact h1 {
    text-align: center;
    color: #414141;
}

/* Address section */
address {
    text-align: center;
    font-weight: 600;
    line-height: 1.6;
    font-style: normal;
}

address p {
    padding: 0;
    margin: 0;
}

/* Contact section */
.contact {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    margin-top: 20px;
}

.contact .map iframe {
    border: none;
    width: 100%;
    border-radius: 8px;
}

.form-input {
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
    line-height: 1.6;
}

.form-input.message {
    grid-template-columns: 1fr;
}

.radio-options {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.radio-options label {
    display: flex;
    align-items: center;
    width: fit-content;
    gap: 8px;
    cursor: pointer;
    font-size: 0.876em;
    font-weight: normal;
}

.form-input:not(:last-child) {
    margin-bottom: 16px;
}

.form-input.radio-group p,
.form-input > label {
    margin-bottom: 2px;
    font-size: 0.876em;
    font-weight: normal;
    color: #313132;
}

.form-input.radio-group p {
    margin: 0 0 6px 0;
    padding: 0;
}

.form-input > input,
.form-input > textarea,
.form-input > select {
    margin-top: 5px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    color: #646464;
}

.checkbox-group {
    display: flex;
    align-items: center;
    gap: 8px;
}

.checkbox-group label {
    font-size: .876em;
}

.form-actions {
    margin-top: 16px;
    display: flex;
    justify-content: end;
}

.form-actions > button {
    width: 100%;
    padding: 10px 20px;
    border: none;
    background-color: var(--primary-color);
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
}

/* Team section */
.team {
    margin-top: 20px;
    padding: 20px;
}

.team h1 {
    font-weight: 600;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.4rem;
    margin-bottom: 20px;
    color: #414141;
    text-transform: uppercase;
}

.team ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}

.team img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.team figure {
    overflow: hidden;
    width: 100%;
    max-width: 250px;
    height: 250px;
    position: relative;
}

.team figcaption {
    text-align: center;
    font-size: .876em;
    margin-top: 4px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
    background-color: var(--accent1-color);
    color: #fff;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}