*,
html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

ul {
    margin: 0;
    padding: 0;
}

ul > li {
    list-style: none;
}

nav {
    background-color: darkblue;
    padding: 10px;
}

nav > ul {
    display: flex;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
    text-decoration: none;
}

h1 {
    color: darkblue;
}

p {
    padding: 0;
}

main {
    max-width: 840px;
}

main img {
    width: 150px;
    height: auto;
    width: 150px;
    height: auto;
    border: 1px solid rgba(0, 0, 0, .1);
    box-shadow: 20px 30px 30px #ccc;
    padding: 2px;
}

aside {
    width: 20rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    margin: 1rem;
    padding: 1rem;
    background-color: #eee;
    color: #333;
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
}

footer {
    margin-top: 15px;
    padding-top: 15px;
    border-top: 1px solid rgba(0, 0, 0, .1);
    text-align: center;
    color: #444;
    font-size: .9rem;
}