*,
html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

ul {
    margin: 0;
    padding: 0;
}

ul > li {
    list-style: none;
}

nav {
    background-color: darkblue;
    padding: 10px;
}

nav > ul {
    display: flex;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
    text-decoration: none;
}

h1 {
    color: darkblue;
}

p {
    padding: 0;
}

main {
    max-width: 840px;
}

main header {
    padding: 20px;
    max-width: 600px;
}

main header p {
    font-size: .876rem;
    line-height: 1.6;
    color: #414141;
}

main header img {
    width: 150px;
    height: auto;
    width: 150px;
    height: auto;
    border: 1px solid rgba(0, 0, 0, .1);
    box-shadow: 20px 30px 30px #ccc;
    padding: 2px;
    float: right;
    clear: both;
}

aside {
    width: 20rem;
    text-align: center;
    position: relative
}

aside h2 {
    position: absolute;
    font-size: .876rem;
    font-weight: normal;
    left: 50%;
    top: 30px;
    translate: -50%;
    background-color: rgb(0 0 0 /40%);
    color: #fff;
    padding: 8px;
}

aside img {
    width: 200px;
    height: auto;
}

footer {
    margin-top: 15px;
    padding-top: 15px;
    border-top: 1px solid rgba(0, 0, 0, .1);
    text-align: center;
    color: #444;
    font-size: .9rem;
}

/* Class Selectors */
.box {
    margin: 1rem;
    border: 1px solid rgb(0 0 0 /10%);
    padding: 1rem;
    background-color: #ddd;
    color: #000;
}