*,
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
}

footer,
header {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    text-align: center;
    font-size: 1.5rem;
}

ul {
    margin-left: 20px;
}

main {
    width: 400px;
    margin: 0 auto;
}

h1 {
    margin: 20px 0;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.4rem;
}

h2 {
    border-bottom: 1px solid #222;
    margin-bottom: 20px;
}

img {
    width: 100%;
    height: auto;
    box-shadow: 30px 20px 30px#333;
    border-radius: 20px;
    margin-bottom: 30px;
}

section {
    margin: 20px 0;
    border: 1px solid rgb(0, 0, 0 / 10%);
    padding: 20px;
    background-color: #ddd;
    border-radius: 20px;
    font-size: .9rem;
}

section p {
    margin: 10px;
}

footer {
    font-size: .9rem;
}